{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-form bg-light mt-4 p-4 rounded border border-light">
        <form method="post" class="row g-3">
            <h1 class="h3 mb-3">Please Login ✅</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            <div class="col-7">
                <label for="email" class="form-label col-3">Email</label>
                <input type="email" name="email" id="inputEmail" value="{{ last_username }}" class=" col-8 form-text" required autofocus></input>
            </div>
            <div class="col-7">
                <label for="password" class="form-label col-3">Password</label>
                <input type="password" name="password" id="inputPassword" class="col-8 form-text"></input>
            </div>
            <div class="col-12">
                <div class="form-check mb-3">
                    <label><input type="checkbox" name="_remember_me" class="form-check-input"> Remember me</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                <span class="float-end btn btn-lg">or <a href="#">Sign up</a></span>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
{% endblock %}
