{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="#" class="btn btn-dark">Sign up</a>
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">

                <form method="post" class="row g-3">
                    <h1 class="h3 mb-3">Please Login ✅</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-text"></input>
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-text"></input>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-lg btn-primary float-end" type="submit">Sign in</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
