{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
    <h1><i class="fa-solid fa-record-vinyl"></i> Hello <strong>World!</strong> ✅</h1>

    <p><strong><i class="fa-solid fa-glasses"></i> R U</strong> Looking for:</p>

    <ul>
        <li><i class="fa-solid fa-solid fa-computer"></i> <a href="{{ path('app_rule') }}"><code>/rule</code></a> (<keyboard>RULE_USER</keyboard>)</li>
        <li><i class="fa-solid fa-computer-mouse">   </i> <a href="{{ path('app_user-support_tickets') }}">User Support</a> (open new support tickets)</li>
    </ul>

{% endblock %}